
html {
    height: 100%;
}


body {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    min-height: 1px;
    height: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    height: 100%;
}



.hr {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    border: none;
    height: 2px;
    background-color: black;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 0 0 auto;
    
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
}


.header__left-block {
    display: flex;
    flex-grow: 0;

    width: 120px;
    height: 120px;

    background-color: grey;
}


.header__left-block img {
    width: 100%;
    height: 100%;
}


.header__center-block {
    display: flex;
    flex-grow: 1;

    height: 120px;
    width: 200px;
    margin-left: 20px;


    background-color: grey;
}


.header__right-block {
    display: flex;
    flex-grow: 1;

    width: 300px;
    height: 120px;
    margin-left: 20px;

    background-color: grey;
}


main {
    display: flex;
    flex: 0 0 auto;

    max-width: 960px;
    width: 100%;
    margin: 0 auto;   
}


aside {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 20px;
}


.aside__top-block {
    margin-bottom: 20px;
    width: 200px;
    height: 350px;

    background-color: grey;
}


.aside__top-block ul {
    display: flex;
    flex-flow: column wrap;

    list-style: none;
}


.aside__bottom-block {
    margin-bottom: 20px;
    width: 200px;
    height: 150px;

    background-color: grey;
}


.main-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex: 1 0 auto;
}


.content-top__content {
    flex-grow: 0;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;

    background-color: lightgray;
}


.gallery {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}


.photo {
    display: flex;
    flex: 1 0 20%;
    max-width: 169.5px;
    height: 150px;  
    margin-left: 20px;
    margin-bottom: 20px;
    
    background-color: lightgray;
}


.photo img {
    width: 100%;
    height: 100%;
}


.content-bottom {
    display: flex;
    flex-grow: 1;
    flex-direction: row nowrap;

    margin-top: 0px;
    margin-bottom: 20px;
}


.content-bottom__content-1 {
    flex-grow: 1;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;  
    height: 220px;
    min-width: 100px;
    
    background-color: lightgray;
}


.content-bottom__content-2 {
    flex-grow: 1;   
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;  
    height: 220px;
    min-width: 100px;
    
   
    background-color: lightgray;
}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 0 0 auto;
    
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
}


.footer {
    background-color: lightgray;
}


.footer__left-block {
    display: flex;
    flex: 1 0 auto;

    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    max-height: 220px;
}


.footer__right-block  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}


.footer__left-block-1 {
    display: flex;
    
    width: 250px;
    height: 200px;
    flex-grow: 1;
    margin-right: 20px;
}


.footer__left-block-1 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;

    list-style: none;
}
      

.footer__left-block-2 {
    width: 250px;
    height: 200px;
    flex-grow: 1; 
    margin-right: 20px;
}


.footer__right-block-1 {
    flex-grow: 1;
    width: 100%;
    height: 90px;

    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px; 
    margin-left: 0px;    
}


.footer__right-block-2 {
    display: flex;
    flex-grow: 1;
    min-width: 200px;
    width: 100%;
    height: 90px;

    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    margin-left: 0px;
}


.footer__right-block-2 img {
    width: 100%;
    height: 100%;   
}

@media screen and (min-width: 1200px) {
    .photo {
        flex: 1 0 13.3%;
        max-width: 111.8px;
        height: 130px;  
    }
    .photo:nth-child(7) {
        flex: 1 0 13.3%;
        max-width: 107px;
        height: 130px;  
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .photo {
        flex: 1 0 17.3%;
        max-width: 131.8px;
        height: 150px;  
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        max-width: 768px;
        min-width: 480px;
    }
    header {
        max-width: 768px;
        min-width: 480px;
    }
    main {
        max-width: 768px;
        min-width: 480px;
    }
    .main-content {
        max-width: 768px;
        min-width: 480px;
    }
    .content-top__content {
        margin-left: 0px;
    }
    .photo {
        flex: 1 0 21.6%;
        max-width: 176.9px;
    }
    .photo:nth-child(1) {
        margin-left: 0px;
    }
    .photo:nth-child(5) {
        margin-left: 0px;
    }
    .content-bottom__content-1 {
        margin-left: 0px;
    }
    aside {
        display: none;
    }
    .aside__top-block {
        display: none;
    }
    .aside__bottom-block {
        display: none;
    }
    footer {
        flex-wrap: wrap;
        max-width: 768px;
        min-width: 480px;
    }
    .footer__right-block, .footer__left-block  {
        width: 100%;  
    }
    .footer__left-block-2 {
        margin-right: 0px;
    }
}


@media screen and (min-width: 400px) and (max-width: 600px) {
    body {
        max-width: 480px;
        min-width: 320px;
    }
    header {
        max-width: 480px;
        min-width: 320px;
    }
    main {
        max-width: 480px;
        min-width: 320px;
    }
    .main-content {
        max-width: 480px;
        min-width: 320px;
    }
    .content-top__content {
        margin-left: 0px;
    }
    .photo {
        flex: 1 0 21.6%;
        max-width: 105.7px;
        max-height: 130px;
    }
    .photo:nth-child(1) {
        margin-left: 0px;
    }
    .photo:nth-child(5) {
        margin-left: 0px;
    }
    .content-bottom__content-1 {
        margin-left: 0px;
    }
    aside {
        display: none;
    }
    .aside__top-block {
        display: none;
    }
    .aside__bottom-block {
        display: none;
    }
    footer {
        flex-wrap: wrap;
        max-width: 480px;
        min-width: 320px;
    }
    .footer__right-block  {
        max-width: 100%;  
    }
    .footer__left-block {
        max-width: 100%;
        margin-right: 0px;
    }
    .footer__left-block-2 {
        margin-right: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 400px) {
    body {
        max-width: 320px;
        min-width: 1px;
    }
    header {
        max-width: 320px;
        min-width: 1px;
    }
    .header__left-block {
        min-width: 1px;
        max-width: 100px;
    } 
    .header__center-block {
        display: none;
    }  
    .header__right-block {
        min-width: 1px;
    }
    main {
        max-width: 320px;
        min-width: 1px;
    }
    .main-content {
        max-width: 320px;
        min-width: 1px;
    }
    .content-top__content {
        margin-left: 0px;
    }
    .photo {
        flex: 1 0 21.6%;
        max-width: 64.9px;
        max-height: 80px;
    }
    .photo:nth-child(1) {
        margin-left: 0px;
    }
    .photo:nth-child(5) {
        margin-left: 0px;
    }
    .content-bottom  {
        display: flex;
        flex-direction: column;
    }
    .content-bottom__content-1 {
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .content-bottom__content-2 {
        margin-bottom: 20px;
        margin-left: 0px;
    }
    aside {
        display: none;
    }
    .aside__top-block {
        display: none;
    }
    .aside__bottom-block {
        display: none;
    }
    footer {
        flex-wrap: wrap;
        max-width: 320px;
        min-width: 1px;
    }
    .footer__right-block  {
        max-width: 100%;  
    }
    .footer__left-block {
        width: 105%;
        margin-right: 0px;
    }
    .footer__left-block-2 {
        margin-left: 0px;
    }
}

