body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 960px;
    font-family: Arial, Helvetica, sans-serif;

    margin: auto;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
}

ul {
    display: flex;
    flex-flow: column wrap;

    list-style: none;
}




header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin-bottom: 20px;
    width: 100%;

}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0px;
}


.first {
    width: 120px;
    height: 120px;
    flex-grow: 0;
    margin-right: 35px;

    background-color: grey;
}

.second {
    width: 300px;
    height: 120px;
    flex-grow: 0;
    margin-right: 35px;

    background-color: grey;
}

.third {
    width: 200px;
    height: 120px;
    flex-grow: 1;

    background-color: grey;
}




.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


aside {
    display: flex;
    float: left;
    flex-flow: column wrap;
    justify-content: space-between;
    
    padding-top: 20px;
    height: 810px;
}

.aside-1 {
    margin-bottom: 20px;
    width: 200px;
    height: 350px;


    background-color: grey;
}

.aside-2 {
    margin-bottom: 20px;
    width: 200px;
    height: 150px;

    background-color: grey;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.top-content {
    display: flex;
    flex-wrap: nowrap;  
    flex-direction: row-reverse;
    justify-content: flex-start;

}



.top-content-1 {
    flex-basis: 100%;
    height: 250px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 20px;     
    
    background-color: lightgray;
}

.center-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.gallery {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo {
    width: 100px;
    height: 120px;  
    flex-grow: 0;
    margin: 20px;
    
    
    background-color: lightgray;
}


.bottom {
    display: flex;
    flex-direction: row-reverse;
}

.bottom-content {   
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.bottom-content-1 {
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;  
    width: 250px;
    height: 200px;
    
    background-color: lightgray;
}

.bottom-content-2 {
    flex-grow: 1;   
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;  
    width: 250px;
    height: 200px;
    
   
    background-color: lightgray;
}


footer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;   
}

.footer {
    flex-grow: 1;
    background-color: lightgray;
}


.footer1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;

    width: 50%;
}

.footer2  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: flex-end;
}

.footer1 .footer:nth-child(1) {
    flex-basis: 50%;   
    width: 250px;
    height: 200px;

    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 0px;

    
    vertical-align: auto;
}

.footer1 .footer:nth-child(2) {
    flex-basis: 50%;
    width: 250px;
    height: 200px;

    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 10px;
}

.footer-3 {
    flex-grow: 1;
    width: 300px;
    height: 80px;

    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 20px;    
}

.footer-4 {
    flex-grow: 1;
    width: 300px;
    height: 80px;

    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px; 
    margin-left: 20px;
}
